<h3>Create a List</h3>
<%= form_for @list do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :description, placeholder: "description" %>
  <%= form.hidden_field :status, value: true%>
  <%= form.submit %>
<% end %>
